<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Register</title>
</head>

<body class="login">
    <img src="./css/barkoon3.png" class="barkoon">
    <div class="container-login">
        <h1 class="login-h1">Register</h1>
        <form id="registrationForm">
            <input type="text" id="usernameInput" placeholder="username" class="input">
            <input type="email" id="emailInput" placeholder="email" class="input">
            <input type="password" id="passInput" placeholder="password" class="input">
            <input type="submit" value="Register" class="input-login">
        </form>

        <a href="../login" class="register">Already have an account?</a>
    </div>

    <script src="./js/register.js"></script>
</body>

</html>